body {
	overflow-y: hidden;
	background-color: #FAFBFC;
}

.menu {
	height: 100%;
	float: left;
	margin: 0;
	top: 0;
	background-color: #3A3F51;
	z-index: 1000;
	width: 220px;
	color: #EDF1F2;
}

.menu-small {
	height: 100%;
	float: left;
	margin: 0;
	top: 0;
	background-color: #3A3F51;
	z-index: 1000;
	width: 65px;
	color: #EDF1F2;
}

.menu > ul > li {
	margin-bottom: 10px;
}

.menuitem {
	width: 100%;
	padding: 5px;
	color: #999E9F;
	padding-left: 20px;
}

.menuitem:hover {
	color: #FFFFFF;
}

.btn {
	background-color: #EC2121 !important;
}

.center {
	position: relative;
	margin: auto;
	display: block;
	text-align: center;
}

.activeMenu {
	border-left: 4px solid #EC2121;
	color: white;
}

.menutitle {
	display: table;
	margin: auto;
	font-size: 20rem;
}

.title {
	font-size: 100px;
	user-select: none;
	cursor: default;
}

.content {
	float: left;
    padding: 10px;
    width: calc(100% - 220px);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 64px);
    background-color: #FAFBFC;
}

.content-big {
	float: left;
    padding: 10px;
    width: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 64px);
    background-color: #FAFBFC;
}

.spin-container {
	width: 58px;
	height: 58px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.spinner-small {
	width: 38px;
	height: 38px;
	margin: 5px;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 117;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0%, 100% { stroke:  #EC2121; }
}

@keyframes dash {
 0% { stroke-dashoffset: 117; }
 50% {
   stroke-dashoffset: 46.75;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 117;
   transform:rotate(450deg);
 }
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #EC2121 !important;
    box-shadow: 0 1px 0 0 #EC2121 !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #EC2121;
}

.input-field label {
	user-select: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: white !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: white !important;
}

.loading {
	height: 100px;
	margin-bottom: -100px;
}

/* label color */
.input-field label {
 color: #4e4e4e;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #EC2121;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #EC2121;
 box-shadow: 0 1px 0 0 #EC2121;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #EC2121;
 box-shadow: 0 1px 0 0 #EC2121;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #EC2121;
 box-shadow: 0 1px 0 0 #EC2121;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #EC2121;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #4caf50 !important;
    border-bottom: 2px solid #4caf50 !important;
}

/*.card-title {
	display: inline-flex !important;
}*/

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border: 0px none #ffffff;
  border-radius: 50px;
}
/*::-webkit-scrollbar-thumb:hover {
  background: #004b97;
}
::-webkit-scrollbar-thumb:active {
  background: #004b97;
}*/
::-webkit-scrollbar-track {
  background: rgb(241,241,241);
  border: 0px none #ffffff;
  border-radius: 50px;
}
/*::-webkit-scrollbar-track:hover {
  background: #FFE0B2;
}
::-webkit-scrollbar-track:active {
  background: #FFE0B2;
}*/
::-webkit-scrollbar-corner {
  background: transparent;
}

.danger {
	color: #EC2121;
	user-select: none;
	cursor: pointer;
}

nav {
	box-shadow: none !important;
	background-color: #EC2121;
}

.login-card {
	width: 500px;
	margin: auto;
	margin-top: 100px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #343434;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #343434; 
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.loginError {
	color: #EC2121;
}

.load-gif {
    margin-left: -7px;
    margin-top: -4px;
    width: 72px;
}

.blurred {
	filter: blur(2px) brightness(98%);
}

.loading-login {
    position: fixed;
    top: calc(50% - 58px);
    left: calc(50% - 38px);
    z-index: 100;
}